<h1 class="text-center font-bold text-2xl mb-6">Projetos Cadastrados</h1>
<div class="flex justify-end">
    <a id="novoProjetoLink" href="#"
        class="border px-6 py-3 mb-2 bg-green-400 hover:bg-green-500 rounded-md text-sm font-bold text-white">Novo
        Projeto</a>
</div>

<div id="overlay" class="fixed top-0 left-0 w-full h-full z-10 flex justify-center items-center bg-black bg-opacity-50 p-3 hidden">
    <div id="popup" class="rounded-md bg-white p-5 max-w-2xl shadow-md max-h-full overflow-auto hidden">
        <h2 id="popupAction" class="text-center font-bold text-lg mb-4">Cadastro de Projeto</h2>
        <form id="projetoForm">
            <div class="flex flex-wrap gap-3 mb-4">
                <div>
                    <label for="nome" class="block mb-2 text-sm font-bold">Nome:</label>
                    <input type="text" id="nome" class="border rounded-md focus:outline-none shadow-sm focus:border-sky-500  focus:ring-1 focus:ring-sky-500 border-green-500 w-full px-3 py-2" required>
                </div>
                <div>
                    <label for="data_inicio" class="block mb-2 text-sm font-bold">Data de Início:</label>
                    <input type="date" id="data_inicio"
                        class="border w-full px-3 py-2 border-green-500 rounded-md focus:outline-none shadow-sm focus:border-sky-500  focus:ring-1 focus:ring-sky-500 sm:text-sm">
                </div>
                <div>
                    <label for="data_termino" class="block mb-2 text-sm font-bold">Data de Término:</label>
                    <input type="date" id="data_termino"
                        class="border w-full px-3 py-2 border-green-500 rounded-md focus:outline-none shadow-sm focus:border-sky-500  focus:ring-1 focus:ring-sky-500 sm:text-sm">
                </div>
            </div>
            <div class="mb-4">
                <label for="descricao" class="block mb-2 text-sm font-bold">Descrição:</label>
                <textarea id="descricao" class="border rounded-md focus:outline-none shadow-sm focus:border-sky-500  focus:ring-1 focus:ring-sky-500 border-green-500 w-full px-3 py-2" required></textarea>
            </div>
            <div class="mb-4">
                <!-- Selecionar o funcionário -->
                <label class="block mb-2 text-sm font-bold" for="funcionarios">Adicionar Funcionário:</label>
                <div class="flex gap-5 justify-center items-center">
                    <select id="funcionariosSelect"
                        class="border border-green-500 rounded-md px-3 py-2 focus:outline-none shadow-sm focus:border-sky-500  focus:ring-1 focus:ring-sky-500 w-full">
                    </select>
                    <div class="border border-green-500 px-6 py-3 cursor-pointer bg-green-400 hover:bg-green-500 rounded-md text-sm font-bold text-white"
                        onclick="adicionarFuncionario()">Adicionar</div>
                </div>
            </div>
            <div class="mb-4">
                <!-- Selecionar o Responsável -->
                <label class="block mb-2 text-sm font-bold" for="responsavel">Responsável:</label>
                <div class="flex gap-5 justify-center items-center">
                    <select id="responsavel"
                        class="border border-green-500 rounded-md px-3 py-2 focus:outline-none shadow-sm focus:border-sky-500  focus:ring-1 focus:ring-sky-500 w-full">
                    </select>
                </div>
            </div>
            <!-- Tabela de funcionários -->
            <div class="mb-4">
                <table id="funcionariosTabela" class="table-fixed w-full">
                    <thead>
                        <tr class="bg-green-400">
                            <th class="w-36 border text-white border-green-500 px-4 py-3 text-center text-sm font-bold">
                                Nome
                            </th>
                            <th class="w-3 border text-white border-green-500 px-4 py-3 text-center text-sm font-bold">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="flex justify-end">
                <button type="button"
                    class="border px-6 py-3 mr-2 bg-green-400 hover:bg-green-500 rounded-md text-sm font-bold text-white"
                    id="salvarBtn">Salvar</button>
                <button type="button"
                    class="border px-6 py-3 bg-red-500 hover:bg-red-600 rounded-md text-sm font-bold text-white"
                    id="cancelarBtn">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<div class="overflow-x-auto">
    <table class="table-fixed w-full">
        <thead>
            <tr class="bg-green-400">
                <td class="w-36 border text-white border-green-500 px-4 py-3 text-center text-sm font-bold">Nome</td>
                <td class="w-96 border text-white border-green-500 px-4 py-3 text-center text-sm font-bold">Descrição
                </td>
                <td class="w-40 border text-white border-green-500 px-4 py-3 text-center text-sm font-bold">Responsável
                </td>
                <td class="w-36 border text-white border-green-500 px-4 py-3 text-center text-sm font-bold">Funcionários
                </td>
                <td class="w-60 border text-white border-green-500 px-4 py-3 text-center text-sm font-bold" colspan="2">
                    Ação
                </td>
            </tr>
        </thead>
        <tbody id="projetosTableBody">
        </tbody>
    </table>
</div>
<script src="/public/js/projeto.js"></script>